<p style="color: green"><%= notice %></p>

<%= render @tournament %>

<div>
  <%= link_to "Edit this tournament", edit_tournament_path(@tournament) %> |
  <%= link_to "Back to tournaments", tournaments_path %>

  <%= button_to "Destroy this tournament", @tournament, method: :delete %>
</div>
