<%= form_with(model: [@tournament, result]) do |form| %>
  <% if result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :division, style: "display: block" %>
    <%= form.text_field :division %>
    <%= form.label :round, style: "display: block" %>
    <%= form.text_field :round %>
  </div>

  <div>
    <%= form.label "Player", style: "display: block" %>
    <%= form.select :entrant_id, @tournament.entrants.collect {|e| [ e.name, e.id ]} %>
  </div>

  <div>
    <%= form.label "Opponent", style: "display: block" %>
    <%= form.select :opponent_id, @tournament.entrants.collect {|e| [ e.name, e.id ]} %>
  </div>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.number_field :score %>
  </div>

  <div>
    <%= form.label :opponent_score, style: "display: block" %>
    <%= form.number_field :opponent_score %>
  </div>

  <div>
    <%= form.label :first, style: "display: block" %>
    <%= form.check_box :first %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
