<div id="<%= dom_id result %>">
  <p>
    <strong>Tournament:</strong>
    <%= result.tournament_id %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= result.division %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= result.round %>
  </p>

  <p>
    <strong>Entrant:</strong>
    <%= result.entrant_id %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= result.opponent_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= result.score %>
  </p>

  <p>
    <strong>Opponent score:</strong>
    <%= result.opponent_score %>
  </p>

  <p>
    <strong>First:</strong>
    <%= result.first %>
  </p>

</div>
