<div id="<%= dom_id entrant %>">
  <p>
    <strong>Tournament:</strong>
    <%= entrant.tournament_id %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= entrant.userid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entrant.name %>
  </p>

  <p>
    <strong>Player number:</strong>
    <%= entrant.player_number %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= entrant.rating %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= entrant.division %>
  </p>

</div>
